.Teamwork__Head{
    border-left: #00000026 1px solid;
}

.TeamWork_Schedule_Panel{
    overflow-y: scroll;
    height: calc(100vh - 114px);
    min-height: calc(100vh - 114px);
    border-left: #00000026 1px solid;
    
    .divider{
        min-height: 4px;
        z-index: 2;
        background: #F7F7F7;
        border-bottom: #00000026 1px solid;
    }

    .userWorkSchedule{
        display: flex;
        background: #fff;
    
        .userSearchFilter{
            padding: 4px 8px;
            width: 23.38%;
            border-bottom: 1px solid #00000026;
    
            input{
                width: 100%;
                height: 24px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #00000026;
                border-radius: 4px;
                font-size: 12px;
                padding-left: 8px;
            }
    
            .userProfile{
                .userAvatarIcon{
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                }
    
                .commentIcon{
                    width: 16px;
                    height: 16px;
                }
                .name{
                    font: normal normal 600 12px/17px Open Sans;
                    color: #000000;
                    margin-bottom: 0;
                }
    
                .hours{
                    font: normal normal normal 10px/14px Open Sans;
                    color: #000000;
                    margin-bottom: 0;
                }
            }
        }
    }

    .timeFrameInterval{
        display: flex;
        height: 41px;
        background: #fff;
        width: 76.62%;
    
        div {
            border: #00000026 1px solid;
            width: 3.85%;
            writing-mode: vertical-lr;
            font-size: 10px;
            text-align: center;
            border-top: none;
            border-right: none;
        }
    }
    
    .timeFrame{
        display: flex;
        height: 41px;
        background: #fff;
        width: 76.62%;
    
        div {
            border: #00000026 1px solid;
            width: 3.85%;
            font-size: 10px;
            text-align: center;
            border-top: none;
            border-right: none;
        }
    
        .bg-green span{
            background: #40BF0080;
            border-top: 1px solid #40BF00;
            border-bottom: 1px solid #40BF00;
            display: block;
            height: 21px;
            margin: 10px 0;
        }
    
        .bg-green.first span{
            border-left: 1px solid #40BF00;
        }
    
        .bg-green.last span{
            border-right: 1px solid #40BF00;
        }
    }
    
    .Current__User__Schedule__Panel{
        position: sticky;
        top: 0;
        z-index: 1;
    }
}