.editableHours {
    input, input:focus{
        display: inline-block;
        border: none;
        outline: none;
        width: 20px;
        padding: 0px;
    }

    .ant-picker{
        padding: 0px;
    }
}