.toolTipBox{
    p {
        font: normal normal normal 10px/14px Open Sans;
        color: #FFFFFFCC;
    }
    p.changedTime {
        color: #FFFFFF;
        font-weight: 600;
    }
    .tx-green{
        color: #40BF00;
    }
}