.Schedule__WeeklyStat{
    padding: 16px;
    overflow-y: scroll;
    height: calc(100vh - 114px);
    min-height: calc(100vh - 114px);

    .periodDetails{
        margin-bottom: 18px;
        img {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }

    .stat{
        font-size: 14px;
        max-width: 48.30%;
        height: 42px;
        padding:8px 12px;
        background:#FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #00000026; 
        border-radius: 4px;

        > div {
            display: block;
            float: right;
            font-size: 18px;
            bottom: 2px;
            position: relative;
            font-weight: 600;
        }
    }
}